{% extends 'base.html.twig' %}

{% block title %}{{recipe.name}}
{% endblock %}

{% block body %}


	<div class="container container-card">
		<div class="row d-flex justify-content-start">
			<h1 class="card-title text-center">{{recipe.name}}</h1>
		</div>

		<div class="container container-lg">
			<div class="row justify-content-around">
					<div class="detailed-dish-card card col-12 col-md-4 d-flex flex-column p-2 p-lg-4 m-1">


					<!--CARROUSEL STARTS-->
<div class="carrousel-body">
					<!-- slider container -->
    <div class="slider">

      <!-- slide 1 -->
      <div class="slide">
        <img
          src="{{ asset('build/images/dishes/' ~ recipe.pictureOne ~ '.jpg') }}"
          alt="dish picture"
        />
      </div>

       <!-- slide 2 -->
      <div class="slide">
        <img src="{{ asset('build/images/dishes/' ~ recipe.pictureTwo ~ '.jpg') }}" alt="dish picture" />
      </div>

       <!-- slide 3 -->
      <div class="slide">
        <img src="{{ asset('build/images/dishes/' ~ recipe.pictureThree ~ '.jpg') }}" alt="dish picture" />
      </div>

       <!-- slide 4 -->
      <div class="slide">
        <img src="{{ asset('build/images/dishes/' ~ recipe.pictureFour ~ '.jpg') }}" alt="dish picture" />
      </div>

       <!-- Control buttons -->
      <button class="carrousel-btn btn-next">></button>
      <button class="carrousel-btn btn-prev"><</button>
    </div>
	</div>

					<!--CARROUSEL ENDS-->

						
						<div class="m-0 p-0 d-flex flex-column justify-content-between">
						<p class="card-text">({{ recipe.cuisine.name }} cuisine)
								</p>
							<p class="card-text"><b>Servings:</b> {{ recipe.nbPeople }}</p>
							<p class="card-text"><b>Preparation time:</b>
								{{ recipe.prepTime }}
								minutes</p>
							<p class="card-text"><b>Cooking time:</b>
								{{ recipe.cookingTime }} minutes
								</p>
                                <p class="card-text"><b>Ingredients:</b>
								{{ recipe.ingredient }}.
								</p>
                                <p class="card-text"><b>Directions:</b>
								{{ recipe.step }}
								</p>
							
							<a href="{{ path('app_recipe_index') }}" class="position-absolute bottom-0 start-50 translate-middle-x btn btn-primary mb-2">Back</a>
							
						</div>
						<div class="d-flex flex-column flex-sm-row align-items-baseline mt-1 p-0 justify-content-between"></div>
					</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('carrousel') }}
	{{ encore_entry_script_tags('app') }}
{% endblock %}