{% extends 'base.html.twig' %}

{% block title %}{{recipe.name}}
{% endblock %}

{% block body %}


	<div class="container container-card">
		<div class="row d-flex justify-content-start">
			<h1 class="text-center">{{recipe.name}}</h1>
		</div>

		<div class="container container-lg">
			<div class="row justify-content-around">
					<div class="detailed-dish-card card col-12 col-md-4 d-flex flex-column p-2 p-lg-4 m-1">

						<img src="{{ asset('build/images/dishes/' ~ recipe.picture ~ '.jpg') }}" class="center" alt="dish picture">
						<div class="m-0 p-0 d-flex flex-column justify-content-between">
						<p class="card-text">(Spécialité
								{{ recipe.cuisine.name }})
								</p>
							<p class="card-text">Pour {{ recipe.nbPeople }}
								personnes</p>
							<p class="card-text"><b>Prép. :</b>
								{{ recipe.prepTime }}
								minutes</p>
							<p class="card-text"><b>Cuisson :</b>
								{{ recipe.cookingTime }} minutes
								</p>
                                <p class="card-text"><b>Ingrédients :</b>
								{{ recipe.ingredient }}
								</p>
                                <p class="card-text"><b>Étapes :</b>
								{{ recipe.step }}
								</p>
							
							<a href="{{ path('recipe_index') }}" class="position-absolute bottom-0 start-50 translate-middle-x btn btn-primary">Retour</a>
							
						</div>
						<div class="d-flex flex-column flex-sm-row align-items-baseline mt-1 p-0 justify-content-between"></div>
					</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}